/* 🎨 Colours to use */
:root {
	--color-red: #fb3c3c;
	--color-orange: #f97f0f;
	--color-yellow: #f2bd00;
	--color-green: #1bc55c;
	--color-blue: #18a0fb;
	--color-purple: #ac4ef9;
	--color-pink: #ee46d3;
	--color-black: #333333;
}
